body {
	background: black;
	color: white;
	font-family: 'Letter Gothic Std';
	font-size: 16px;
	margin:100px;
	text-align:center;
}

#txt{
	font-size: 16px;
	text-align:right;
	color: yellow;
}

#next{
	text-align:center;
	font-size: 16px;
	width:132px;
}

button {
	text-align:center;
	font-size: 16px;
	width:64px;
	background-color:rgb(32, 32,32);
	border-radius: 8px;
	color:white;
	margin:2px;
	padding:16px;
	display:inline-block;
}

button:hover {
	opacity:66%;
}

button:active {
	top:1px;
	opacity:33%;
	color:rgb(100,100,100);
}
