@font-face {
  font-family: 'unscii';
  src: url('fonts/unscii-16.ttf');
}

 :root {
  --padding: 1px;
  --unit: 16px;
  --gray: rgb(32, 32, 32);
  --widthBox: 137px;
  --heightBox: calc(var(--widthBox) * 2);
}

body {
  font-family: 'unscii';
  background: black;
  margin: var(--padding);
  color: white;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

 ::selection {
  background: none;
  border: none;
}

main {
  width: var(--widthBox);
  background: black;
  position: absolute;
  border: 1px solid white;
  margin: 1px;
}

main:hover {
  cursor: grab;
}

main:active {
  cursor: grabbing;
}

#techno {
  filter: invert();
  right: 0;
}

.buttons {
  width: var(--unit);
  right: 1px;
  position: absolute;
}

.button {
  width: var(--unit);
  height: var(--unit);
  padding: 0;
  margin: 0;
  margin-top: var(--padding);
  background: black;
  border: 0;
  display: none;
}

.button:hover {
  filter: invert();
}

.button:active {
  filter: invert(0);
}

.button.gray {
  opacity: .32;
}

.button.gray:hover {
  filter: invert(0);
}

.buttonUp {
  display: block;
  background-image: url('../img/icons/bouton1.bmp')
}

.buttonBonus {
  background-image: url('../img/icons/bouton1Rouge.bmp')
}

.buttonUpgrade {
  background-image: url('../img/icons/bouton2.bmp')
}

.buttonSlot {
  background-image: url('../img/icons/bouton3.bmp')
}

.buttonGlif {
  background-image: url('../img/icons/bouton4.bmp')
}

.buttonSacrifice {
  background-image: url('../img/icons/bouton5.bmp')
}

.buttonFusion {
  background-image: url('../img/icons/bouton6.bmp')
}

.counter {
  position: absolute;
  font-size: var(--unit);
  margin: 0;
  padding: 0;
  display: inline-block;
}

.counter li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pixelCounter {
  float: left;
  transform: scale(0.47);
  transform-origin: top left;
  margin-top: var(--padding);
  left: var(--padding);
  top: var(--padding);
}

.counter .incrementUnit {
  float: left;
  margin-left: -18px;
}

.counter .counterBonus {
  margin-left: 16px;
  color: red;
}

tr,
td {
  height: 0;
  padding: 0;
  margin: 0;
}

.pixelCounter td {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  /* outline: var(--padding) solid var(--gray); */
}

.console {
  height: 18px;
  background: black;
  border-top: 1px solid white;
}

.console.bigger {
  margin-top: 38px;
}

#text {
  position: fixed;
  bottom: 0;
  /* margin-top: calc(var(--heightBox) + var(--unit) + 5px); */
  left: var(--padding);
  right: var(--padding);
  background: black;
  padding-left: 1px;
  color: yellow;
  text-align: center;
  font-size: 23px;
  -webkit-font-smoothing: antialiased;
  /* width: var(--heightBox); */
}

.list {
  background: black;
  border-top: 1px solid white;
  max-height: 146px;
  padding: 1px;
}

#propagation {
  z-index: -1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  line-height: 0;
}

#propagation img {
  width: 16px;
  height: 16px;
}

#propagation img.select {
  filter: invert(100%);
}

#propagation img:hover {
  filter: invert(32%);
}

#propagation img[data-nb="0"]:hover {
  filter: invert(0%);
}

.infoBox {
  height: 18px;
  padding: var(--padding);
  border-bottom: 1px solid white
}

#propagation img {
  width: 16px;
  height: 16px;
  position: fixed;
  outline: 1px solid rgb(32, 32, 32);
}